*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
th, td {
    padding: 15px;
  }
td{
    border: 1px solid white;
    color: white;
    border-radius: 3%;
    width: 50px;
    min-width: 100px;
    max-width: 100px;
    padding: 8px 4px;
    font-size: 18px;
}
table{
    height: 500px;
}

.data{
    
    overflow-x: auto !important;
    overflow-y: auto
}
.table {
    border-collapse: separate;
    border-spacing: 10px;
}